#calculator{
    border: 2px solid black;
    text-align: center;
    padding: 10px 0;
    width: 15%;
    height: auto;
    margin: auto;
}

#calcInput {
  margin-bottom: 10px;
  width: 205px;
  height: 25px;
}

.row1 {
  margin-top: 5px;
}

.row2 {
  margin-top: 5px;
}

.row3 {
  margin-top: 5px;
}

.row4 {
  margin-top: 5px;
}

.calcbtn {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

.calcbtn:hover {
  cursor: pointer;
  background-color: #D7CAC8;
}





